/* put global rules here; I will update all components */
/*  I am also happy to navigate the #root, which will be global */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
object
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --0-green: rgba(111,167,152,1);
  --1-green: rgba( 70,139,120,1);
  --2-green: rgba( 37,111, 91,1);
  --3-green: rgba( 14, 84, 64,1);
  --4-green: rgba(  0, 56, 40,1);

  --0-blue: rgba(118,136,169,1);
  --1-blue: rgba( 77,100,141,1);
  --2-blue: rgba( 45, 69,113,1);
  --3-blue: rgba( 21, 44, 85,1);
  --4-blue: rgba(  5, 24, 56,1);

  --0-yellow: rgba(255,225,170,1);
  --1-yellow: rgba(212,175,106,1);
  --2-yellow: rgba(170,130, 57,1);
  --3-yellow: rgba(128, 90, 21,1);
  --4-yellow: rgba( 85, 55,  0,1);

  --0-orange: rgba(255, 201,170,1);
  --1-orange: rgba(212,145,106,1);
  --2-orange: rgba(170, 98, 57,1);
  --3-orange: rgba(128, 60,21,1);
  --4-orange: rgba(85, 31, 0, 1);
  --5-orange: rgba(91, 36, 5, 1);
}

#root {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
}

h2 {
  font-size: 5vh;1758
  padding: 5vh;
}

h3 {
  font-size: 1.2rem;
  font-size: 5vh;
  padding: 5vh;
}

main {
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 15vh 85vh;
}

.logo {
  height: 10vh;
}